
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
}
.main video{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.main h1{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    user-select: none;
    flex-direction: column;
    font-size: 25vw;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #000000;
    mix-blend-mode: multiply;
    
}

.div{
    height:100vh;
    mix-blend-mode: multiply;
    background-color: #000;
    width: 100vw;
}
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#about .wrapper{
    color: #fff;
    display: flex;
    font-size: 20vw;
}
#about .wrapper .dynamic{
    margin-left: 15px;
    height: 25vw;
    overflow: hidden;
    
}
#about .wrapper .dynamic li{
    position: relative;
    list-style: none;
    top:0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide{
    100%{
        top:-100vw
    }
}
#about .wrapper .dynamic li::after{
    content:"";
    position: absolute;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    border-left: 30px solid #fff;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing{
    40%,60%{
        left:calc(100% + 30px)
    }
    100%{
        left: 0;
    }
}
@media only screen and (max-width: 600px) {
    
  }