@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
font-family: Poppins;
}

html, body, section {
block-size: 100%;
}

html {
scroll-snap-type: y mandatory;
scroll-behavior: smooth;
background: url(background.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

section {
scroll-snap-align: start;
scroll-snap-stop: always;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

section:nth-of-type(odd) {
color: #B6E2D3;
background: #ef7c8de6;
}

section:nth-of-type(even) {
color: #EF7C8E;
background: #B6E2D3e6;
}

body {
margin: 0;
font-family: system-ui, sans-serif;
font-size: 4rem;
}
.text .lf{
    text-align: center;
    justify-content: center;
    display: flex;
}
.text p{
    position: absolute;
    top:22.5%;
    font-size: 0.5em;
    white-space: wrap;
}
.text h2{
    font-size: 0.25em;
    position: absolute;
    top:2%;
    left:50%;
    transform: translate(-50%,-50%);
    font-style: italic;
}
.text h1{
    font-size: 16vw;
    font-weight: lighter;
}
.text .tags{
    position:absolute;
    bottom:5%;
    right:5%;
}
.text .hash{
    font-size: 0.5cm;

}
.main .ab{
    font-size: 22.5px;
    position: relative;
    bottom: 15%;
    background:#B6E2D3;
    text-decoration: none;
    padding:20px;
    color: #EF7C8E;
}

@media only screen and (max-width: 1500px){
    .text h2{
        font-size: 15px;
        width: 80vw;
        text-align: center;
    }
}