@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: Poppins;
}

:root{
	--deep: #ff005e;
	--aqua: #00fff2;
}
*::selection{
	background: var(--deep);
}
*{
	margin: 0;
	padding:0
}
body{
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1537429149818-2d0e3e20857b?&w=1700&q=80);
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
}
.sidenav svg{
	position: fixed;
	top:7%;
	right:2.5%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}
.sidenav .list{
	width:100vw;
	height:100vh;
	background:linear-gradient(to bottom, #000,#000, transparent);
	z-index:10;
	opacity: 0;
	position: fixed;
	top:-200%;
	left:50%;
	transform: translate(-50%,-50%);
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	transition: .5s;
}
.sidenav .list a{
	margin: 10px;
	padding:10px 30px;
	font-size: 2rem;
	color: black;
	border-radius: 10px;
	background-color: aqua;
	text-decoration: none;
	transition: .5s;
}
.sidenav .list a:hover{
	background-color: yellow;
}

.sidenav #close{
	background-color: red;
	font-size: 2rem;
	padding: 5px 20px;
	border-radius: 10px;
	position: absolute;
	font-size: 1.25rem;
	top:5%;
	right:2.5%;
	cursor: pointer;
}
.main{
	
	background: transparent;
	height: 100vh;
}

.text{
	position: absolute;
	top:40%;
	left:30%;
	transform: translate(-50%,-50%);
}
.main .text i{
	color: white;
	width: 20px;
	height: 20px;
}
.main h1{
	
	font-size: 8vw;
	color: white;
}
.main p{
	margin-left: 2.5vw;
	color: white;
}
.main svg{
	position: absolute;
	bottom: 10%;
	right: 5%;
	transform: translate(-50%,-50%);
	fill: rgba(255, 255, 0, 0.486);
}
.about {
	padding: 5vh;
	align-items: left;
	justify-content: center;
	text-align: right;
	background: #fff;
	display: flex;
	flex-direction: row;
}
.about img{
	width:10vw;
	height: 10vw;
	margin-left: 10vw;	
	filter:grayscale(100%) brightness(0%) ;
}
.about p{
	font-size: 1.25rem;
	padding-right: 20px;
	color: #000;
	line-height: 2.5;
}
.mainabt{
	height: 100vh;
	width: 100vw;
	background:transparent;
	backdrop-filter: blur(50%);
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
}