@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: Poppins;
}

:root{
	--deep: #ff005e;
	--aqua: #00fff2;
}
*::selection{
	background: var(--deep);
}
html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding:0
}

body{
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url(back.jpeg);
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
}
.sidenav svg{
	position: fixed;
	top:7%;
	right:2.5%;
	transform: translate(-50%,-50%);
	cursor: pointer;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), linear-gradient(to bottom right,#ff005d83 50%,#00fff270 50%), linear-gradient(to bottom left,yellow 50%,violet 50%);
	padding: 10px;
	border-radius: 50%;
	z-index: 10000;
}
.sidenav .list{
	width:100vw;
	height:100vh;
	background:linear-gradient(to bottom, #000,rgba(0,0,0,0.8), rgba(0,0,0,0.6));
	z-index:10;
	opacity: 0;
	position: fixed;
	top:-200%;
	left:50%;
	transform: translate(-50%,-50%);
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	transition: .5s;
	z-index: 1000000000;
}

.sidenav #close{
	background-color: red;
	font-size: 2rem;
	padding: 5px 20px;
	border-radius: 10px;
	position: absolute;
	font-size: 1.25rem;
	top:5%;
	right:2.5%;
	cursor: pointer;
}
.main{
	background: transparent;
	height: 100vh;
}
.main .watermark{
	white-space: nowrap;
	color: #fff;
	opacity: 0.1;
	user-select: none;
	position: absolute;
	top:100%;
	left:50%;
	transform: translate(-25%,0%);
}
.text{
	position: absolute;
	top:40%;
	left:30%;
	transform: translate(-50%,-50%);
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.text .tags{
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}
.main .text i{
	color: white;
	width: 20px;
	height: 20px;
	
}
.main h1{
	
	font-size: 8vw;
	color: white;
}
.main h1 span{
	visibility: none;
}
.main p{
	margin-left: 2.5vw;

}
.main .lf{
	text-align: left;
}
.main .lf p{
	color: aqua;
	font-weight:900;
}
.main svg{
	position: absolute;
	bottom: 10%;
	right: 5%;
	transform: translate(-50%,-50%);
	fill: rgba(255, 255, 0, 0.486);
}

.about {
	padding: 5vh;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #fff;
	display: flex;
	flex-direction: column;
}

.about h2{
	padding-right: 20px;
	color: #000;
	line-height: 2.5;
}
.mainabt{
	height: 100vh;
	width: 100vw;
	background:#fff;
	backdrop-filter: blur(50%);
	text-align: center;
}
.mainabt .watermark{
	font-size: 20vw;
	color: var(--deep);
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	opacity: 0.1;
	user-select: none;
	mask-position: 100%;
}
.mainabt p{
	position: relative;
	top:25%;
	left: 50%;
	transform: translate(-50%);
	font-size: 2rem;
}
.hash{
	background: var(--aqua);
	color: var(--deep);
	padding: 5px;
	border-radius: 10px;
}
.links{
	position: relative;
	top:50%;
	left: 50%;
	transform: translate(-50%);
	padding-top: 5vh;
	padding-bottom: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.mainabt  a{
	color: aqua;
	text-decoration: none;
	padding: 2px;
}
.projects{
	background: linear-gradient(to top,#fff 20%, rgba(255,255,255,0.8) 20%);
	width:100vw;
	height:100vh;
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.projects .watermark{
	font-size: 25vw;
	color: yellow;
	opacity: 0.5;
	user-select: none;
}
.projectlist{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	background: #fff;
	padding-bottom: 10vh;
}
.projectlist .card {
	flex: 50%;
	max-width: 100vw;
	line-height: 3;
	margin-bottom: 5vh;
}
.contact{
	width:100vw;
	padding-top:10vh;
	padding-bottom: 10vh;
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.contact h1{
	color: yellow;
	margin-right: 5px;
}
.contact img{
	width: 50px;
	height: 50px;
	border-radius: 300pc;
}
@media only screen and (max-width: 1500px) {
	.projectlist .card {
		flex: 100%;
		max-width: 100vw;
	}
	.main .text{
		top:50%;
		left:50%
	}
	.main h1{
		font-size: 15vw;
	}
	.main .hash{
		font-size: 0.8rem;
	}
	.main .watermark{
		font-size: 10vw;
		position: absolute;
		top:125%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	.mainabt{
		height:auto
	}
  }