*{
    margin: 0;
    padding: 0;
  }
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:20;
    object-fit: cover;
  }
  
  .disppear{
    animation: vanish 2s forwards;
  }
  @keyframes vanish {
    100%{
      opacity: 0;
      visibility: hidden;
    }
  }