@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 20px;
    background: #292C35;
}
::-webkit-scrollbar-thumb{
    border: 6px solid #292C35;
    background: linear-gradient(to bottom,#fff,#0096FF);
    border-radius: 300px;
    transition: .5s;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom,#ffffff8e,#0096FF8e);
}
*::selection{
    font-weight: bolder;
    background: #292C35;
    color: transparent;
    box-shadow: 0 0 10px #0096FF;
}
.toggle-btn{
    position: fixed;
    left: 0;
    margin:25px;
    padding:10px;
    width: 60px;
    height:60px;
    z-index: 2000;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border:none;
    outline:none;
    background: #292C35;
    fill: #fff;
    border-radius: 5px;
    border: 2px solid #0096FF;
}
.toggle-btn:active,.toggle-btn:focus{
    outline: none;
}
.sidenav {
    height: 90vh;
    margin: 20px;
    width: 0;
    position: fixed;
    z-index: 4000;
    top: 0;
    left: 0;
    background: #292C35;
    box-shadow:0 0 10px #0096FF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 20px;
}
  
.sidenav a {
    margin-left: 20px;
    margin-top:20px;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: 0.3s ease-in-out;
    color: #0096FF;
}
  
.sidenav a:hover {
    text-decoration: none;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.item{
    border:2px solid #0096FF;
    width: 150px;
    transition: .5s;
    font-weight: 500;
    text-align: center;
    background:transparent;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}
.item:hover{
    background: #0096FF;
    color: #292C35;
}
Header{
    background:  #292C35;
    width: 100%;
    height: 100vh;
}
Header h1{
    color: white;
    font-size: 5rem;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
}
Header h1 .glow{
    color: transparent;
    background: linear-gradient(to right, #0096ff,#ADD8E6);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -oz-background-clip: text;
}
Header h3{
    font-size: 2rem;
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: white;
}
Header #know-more{
    position: absolute;
    top: 80%;
    left: 18%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    background: #0096FF;
    border: 2px solid #0096FF;
    border-radius: 10px;
    transition: .5s;
}
Header #know-more:hover{
    position: absolute;
    top: 79%;
    left: 18%;
    transform: translate(-50%,-50%);
    box-shadow:0 0 10px #0096ff;
}
Header #github{
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: #0096FF;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    background: transparent;
    border: 2px solid #0096FF;
    border-radius: 10px;
    transition: .5s;
}
Header #github:hover{
    position: absolute;
    top: 79%;
    left: 35%;
    transform: translate(-50%,-50%);
    box-shadow:0 0 10px #0096ff;
}
Header img{
    width: 40vw;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
}
Header p{
    position: absolute;
    right: -2%;
    bottom: 6%;
    color: white;
    z-index: 100;
    transform: rotate(90deg);
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: vertical-text;
}
#about{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #292C35;
}
#about .text{
  width: 95%;
}
#about h1{
  margin: 30px;
  font-size: 3rem;
  padding-top: 20px;
  font-weight: 300;
  color: transparent;
    background: linear-gradient(to right, #0096ff,#ADD8E6);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -oz-background-clip: text;
}
#about img{
  margin: 20px;
  border-radius: 50px;
}
#about p{
  line-height: 40px;
  margin-top: 60px;
  color: transparent;
    background: linear-gradient(to right, #0096ff,#ADD8E6);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -oz-background-clip: text;
}

.projects{
    background: #292C35;
    text-align: center;
}
.projects h1{
    padding-bottom: 40px;
    padding-top: 50px;
    color: transparent;
    background: linear-gradient(to right, #0096ff,#ADD8E6);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -oz-background-clip: text;
    font-weight: 300;
}
.cards{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background: #292C35;
}
.projects .card{
    width: 20%;
    margin: 40px;
    background: #292C35;
    border-color: #292C35;
    box-shadow: 0 0 10px #fff;
    transition: 1s;
}
.projects .card:hover{
    box-shadow: 0 0 10px #0096FF;
}
.card-title,.card-text{
    color: #fff;
}
.feedbk{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #292C35;
}
.feedbk h1{
    color: transparent;
    background: linear-gradient(to right, #0096ff,#ADD8E6);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -oz-background-clip: text;
    font-weight: 300;
    margin: 40px;
    font-size: 3rem;
}
.feedbk form{
    height: auto;
}
.feedbk input{
    border: none;
    outline: none;
    margin-left: 2vw;
    width: 45%;
    padding: 18px 12px 18px 12px;
    border-radius: 10px;
    background: #292C35;
    box-shadow: 0 0 10px #0096FF;
    color: #0096FF;
}
.wrap-input{
    display: flex;
    flex-direction: row;
}
.feedbk textarea{
    margin-left: 2vw;
    min-width: 90vw;
    height: 200px;
    border: none;
    outline: none;
    padding: 18px 12px 18px 12px;
    border-radius: 10px;
    background: #292C35;
    box-shadow: 0 0 10px #0096FF;
    color: #0096FF;
    max-height: 400px;
}
.feedbk input::placeholder{
    color: #0096FF;
}
.feedbk textarea::placeholder{
    color: #0096FF;
}
.feedbk .buttonn{
    width: 100px;
    padding: 8px 10px 8px 10px;
}
.footer{
    height: auto;
    background: #292C35;    
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #0096FF;
}
.footer p{
    color: #0096ff;
}
.wrap{
    display:flex
}
.wrap a i{
    font-size: 30px;
    margin: 20px;
    transition: .5s;
}
@keyframes bounce{
    0%{
        position: absolute;
        right: -2%;
        bottom: 6%;
        color: white;
        z-index: 100;
        transform: rotate(90deg);
    }
    50%{
        position: absolute;
        right: -2%;
        bottom: 10%;
        color: white;
        z-index: 100;
        transform: rotate(90deg);
    }
    100%{
        position: absolute;
        right: -2%;
        bottom: 6%;
        color: white;
        z-index: 100;
        transform: rotate(90deg);
    }
}
@media(max-width:992px){
    Header h1{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size:11vw;
        white-space: nowrap;
    }
    Header h3{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.5rem;
        white-space: nowrap;
    }
    Header #know-more{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header #know-more:hover{
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header #github{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header #github:hover{
        position: absolute;
        top: 84%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header img{
        display: none;
    }
    #about img{
        display: none;
    }
    .projects .card{
        width: 50%;
        margin: 40px;
    }
}
@media(max-width:600px){
    #about h1{
        white-space: nowrap;
    }
    .projects .card{
        width: 80%;
        margin: 5px;
    }
    
}
@media(max-width:300px){
    Header h1{
        font-size: 2.5rem;
    }
    Header #know-more{
        white-space: nowrap;
    }
    #about h1{
        font-size: 2.5rem;
    }
    .projects h1{
        font-size: 2rem;
    }
    .feedbk h1{
        font-size: 2.5rem;
    }
    .feedbk .wrap-input{
        flex-direction: column;
    }
}
