:root{
	--deep: #740805;
	--light: #fcd3bd;
	--mid: #d66d4e;
	--yellow: #F7DC6F;
	--seashell: #F7C9B6;
	--peach: #F1A17E;
	--grey: #abb2bf;
	--black: #490E08;
}
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&amp;display=swap&#39);
 * {
	margin: 0;
	padding: 0;
	font-family: Comfortaa;
	transition: 0.5s;
	font-weight: 300;
}

 h1 {
	color: transparent;
	background: linear-gradient(to right, var(--deep), var(--light));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
}
 p {
	color: transparent;
	background: linear-gradient(to right, var(--deep), var(--light));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
}
 h3 {
	color: transparent;
	background: linear-gradient(to right, var(--deep), var(--light));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
}
 *::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}
 *::-webkit-scrollbar-thumb {
	background: var(--deep);
}
 *::selection {
	background: transparent;
}
 html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: var(--deep) transparent;
	scrollbar-width: thin;
	scroll-margin-block-start: 10px;
	scroll-margin-block-end: 10px;
	overflow-y: scroll;
	height: 100vh;
}
 html body {
	width: 100vw;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: var(--black);
}
 html body section {
	scroll-snap-align: start;
}
 html body section:nth-child(1) {
	scroll-snap-align: end;
}

html body .desktop ul{
  display:flex;
  height:80px;
  width:100%;
  background:transparent;
  align-items: center;
  justify-content:space-between;
  padding:0 50px 0 100px;
  flex-wrap: wrap;
  transition: 0;
}
nav .logo{
  
}
html body .desktop ul{
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
}
html body .desktop ul li{
  margin:0 5px;
}
html body .desktop ul li a{
  color:var(--light);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding:8px 15px;
  letter-spacing:1px;
  border-bottom:1.5px solid transparent;
  transition:all 0.3s ease;
}
html body .desktop ul li a.active,
html body .desktop ul li a:hover{
  border-color:var(--light);
  color:var(--light);
}
 html body .navbar-m {
	background: var(--deep);
	backdrop-filter: blur(10px);
	border: 1px solid var(--deep);
	border-radius: 20px;
	z-index: 9999;
	width: 90vw;
	margin: 0 auto;
	height: 70px;
	margin-top: 10px;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}
 html body .p-4 {
	float: left;
	margin-top: 0px;
}
 html body .navbar-toggler {
	outline: none;
	box-shadow: none;
	background: var(--deep);
	float: right;
	position: fixed;
	top: -5%;
	right: 0%;
	transition: 0.5s;
}
 html body .navbar-toggler:focus, html body .navbar-toggler:active, html body .navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}
 html body .closenav {
	float: right;
}
 html body .sidenav-m {
	width: 100vw;
	height: 100%;
	position: fixed;
	top: 0%;
	left: -120%;
	background: var(--black);
	border-right: 1px solid var(--yellow);
	z-index: 5000;
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	transition: 0.5s ease-in-out;
	visibility: hidden;
}
 html body .sidenav-m li {
	color: var(--seashell);
	margin-bottom: 30px;
	font-size: 20px;
	list-style-type: none;
}
 html body .sidenav-m li:nth-child(1) {
	margin-top: 250px;
}
 html body .sidenav-m li a {
	color: var(--seashell);
	margin-bottom: 30px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
}
 html body .sidenav-m li a:hover {
	color: var(--yellow);
	padding-bottom: 5px;
	border-bottom: 2px solid var(--yellow);

}
 html body .sidenav-m .link-b .fa-github-square {
	position: absolute;
	top: 55%;
	left: 5%;
	transform: translate(-50%, -50%);
	fill: var(--seashell);
}
 html body .sidenav-m .link-b .fa-codepen {
	position: absolute;
	top: 65%;
	left: 5%;
	transform: translate(-50%, -50%);
	fill: var(--seashell);
}
 html body .sidenav-m .link-b svg:hover path {
	fill: var(--yellow);
	box-shadow: 0 0 10px var(--seashell);
}
 html body #preloader {
	color: var(--black);
}
 html body #preloader .loader-wrapper {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	animation-duration: 5s;
	animation-timing-function: linear;
	opacity: 1;
	visibility: hidden;
}
 html body #preloader .loader-wrapper div {
	color: var(--light);
	font-size: 20px;
	text-transform: uppercase;
     white-space: nowrap;
	opacity: 0;
	transition: 1s;
	position: absolute;
	top: 20%;
}
 html body #preloader .loader-wrapper div:nth-child(1) {
	animation-name: revealed;
	animation-duration: 2s;
	animation-delay: 1.5s;
	opacity: 0;
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translate(-50%, -50%);
}
 html body #preloader .loader-wrapper div:nth-child(1) img {
	width: 25vw;
}
 html body #preloader .loader-wrapper div:nth-child(2) {
	animation-name: reveal;
	animation-duration: 2s;
	animation-delay: 2.5s;
}
 @keyframes revealed {
	0% {
		opacity: 0;
		top: 80%;
		left: 50%;
	}
	50% {
		opacity: 1;
		top: 50%;
		left: 50%;
	}
	100% {
		top: 0%;
		left: 50%;
		opacity: 0;
	}
}
 @keyframes reveal {
	0% {
		opacity: 0;
		top: 80%;
		transform: rotateX(-45deg);
	}
	15% {
		opacity: 0.15;
		transform: rotateX(-11.5deg);
	}
	25% {
		opacity: 0.25;
		transform: rotateX(-11.5deg);
	}
	50% {
		opacity: 1;
		transform: rotateX(22.5deg);
	}
	75% {
		opacity: 0.75;
		transform: rotateX(11.5deg);
	}
	85% {
		opacity: 0.65;
	}
	100% {
		opacity: 0;
		transform: rotateX(45deg);
		top: 20%;
	}
}
 @keyframes fade {
	0% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	25% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	50% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	75% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	90% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	91% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	92% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	93% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	94% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	95% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	96% {
		opacity: 1;
		top: 0%;
		visibility: visible;
	}
	100% {
		opacity: 1;
		top: -100%;
		visibility: hidden;
	}
}

 html body #header {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	background: var(--black);
	transition: 2s;
}
 html body #header .content {
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
     position: absolute;
     top:55%;
     left:20%;
     transform: translate(-50%,-50%);
}
 html body #header .content h1 {
	color: var(--seashell);
	font-size: 1rem;
	overflow: hidden;
	text-align: left;

}
 html body #header .content h1 .glow {
	font-size: 6rem;
	text-transform: lowercase;
	color: transparent;
	background: linear-gradient(to right, var(--yellow), var(--peach));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-oz-background-clip: text;
	text-shadow: 0 0 5px var(--deep);
}
 html body #header .content h3 {
	font-size: 1rem;
	width: 25vw;
	text-align: center;
	overflow: hidden;
	line-height: 30px;
	padding: 10px;
	border-radius: 10px;
	color: var(--mid);
}
 html body #header .content h3 span {
 	background: var(--deep);
	color: var(--light);
	margin: 5px;
	padding: 10px 10px 10px 10px;
	white-space: nowrap;
	padding: 5px;
	border-radius: 10px;
}
@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25%{
  	clip-path: polygon(20% 0%, 0% 20%, 100% 100%, 0% 80%, 20% 100%, 100% 0, 80% 100%, 100% 80%, 0 0, 100% 20%, 80% 0%, 0 100%);
  }
  37.5%{
  	clip-path: polygon(0 0, 0% 20%, 100% 50%, 0 100%, 20% 100%, 50% 0, 100% 100%, 100% 80%, 0 50%, 100% 0, 80% 0%, 50% 100%);
  }
  50%{
  	clip-path: polygon(20% 0%, 0% 20%, 50% 0, 0 100%, 0 100%, 100% 50%, 80% 100%, 100% 80%, 50% 100%, 100% 0, 100% 0, 0 50%);
  }
  87.5%{
  	clip-path: polygon(0 0, 0% 20%, 40% 50%, 0 100%, 20% 100%, 50% 60%, 100% 100%, 100% 80%, 60% 50%, 100% 0, 80% 0%, 50% 40%);
  }
  75%{
  	clip-path: polygon(20% 0%, 0% 20%, 100% 0, 0% 80%, 20% 100%, 0 0, 80% 100%, 100% 80%, 0 100%, 100% 20%, 80% 0%, 100% 100%);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
 html body #header .circle-container {
	background: linear-gradient(to bottom right, var(--light) -100%, var(--peach) 100%);
	width: 400px;
	height: 400px;
	position: absolute;
	top: 55%;
	left: 75%;
	transform: translate(-50%, -50%) ;
	border-radius: 50%;
}
html body #header .circle-container img{
	width: 400px;
	height: 400px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%) ;
	border-radius: 50%;
	opacity: 0;
}
 html body #header .circle-container:hover {
	filter: brightness(100%);
	border-radius: 50%;
	box-shadow: 0 0 50px var(--light);
	width: 450px;
	height: 450px;
}
html body #header .circle-container:hover img{
	opacity: 1;
} 
 html body #header .circle-container:hover .circle {
	opacity: 0;
	clip-path: polygon(50% 0%, 100% 0, 98% 35%, 100% 100%, 79% 91%, 50% 100%, 21% 91%, 0 100%, 2% 35%, 0 0);
}
 html body #header .circle {
	width: 400px;
	height: 400px;
	background: var(--black);
	clip-path: polygon(20% 0%, 0% 20%, 15% 50%, 0% 80%, 20% 100%, 50% 85%, 80% 100%, 100% 80%, 85% 50%, 100% 20%, 80% 0%, 50% 15%);
	border-radius: 10%;
	-webkit-animation: rotate 6.5s linear infinite;
  -moz-animation: rotate 6.5s linear infinite;
  -ms-animation: rotate 6.5s linear infinite;
  -o-animation: rotate 6.5s linear infinite;
  animation: rotate 6.5s linear infinite;
 animation-delay: 2s;
}
 html body .projects {
	text-align: center;
	overflow: hidden;
	background: var(--black);
	padding-top: 100px;
}
 html body .projects #work {
	font-size: 200px;
	position: absolute;
	right: 0%;
	opacity: 0.2;
	cursor: default;
}
 html body .projects .cards {
	width: 100%;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}
 html body .projects h1 {
	padding-bottom: 40px;
	padding-top: 50px;
	color: transparent;
	background: linear-gradient(to right, var(--deep), var(--light));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	overflow: hidden;
	font-weight: 900;
	overflow: hidden;
}
 html body .projects .card .dot {
	padding: 5px;
	margin: 10px;
	background: var(--black);
	border-radius: 50%;
	box-shadow: -1.5px 1.5px 1px rgba(0, 0, 0, 0.4);
}
 html body .projects .card {
	width: 300px;
	height: 325px;
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 40px;
	border: none;
	outline: none;
	transition: 1s;
	background: linear-gradient(217deg, var(--yellow), rgba(255, 0, 0, 0) 70.7%),
	linear-gradient(127deg, var(--seashell), rgba(0, 255, 0, 0) 70.7%),
	linear-gradient(336deg, var(--light), rgba(0, 0, 255, 0) 70.7%),
	linear-gradient(217deg, var(--peach), var(--light) 70.7%),
	linear-gradient(127deg, var(--mid), rgba(0, 255, 0, 0) 70.7%),
	linear-gradient(336deg, var(--grey), rgba(0, 0, 255, 0) 70.7%);
}
 html body .projects .card-title {
	font-weight: 900;
	font-style: italic;
	color: var(--black);
	padding: 10px;
	border-radius: 15px;
}
 html body .projects .card-text {
	color: var(--black);
	overflow: hidden;
	font-weight: 700;
	font-style: italic;
}
 html body .projects .btn-primary {
	color: var(--seashell);
	background-color: var(--black);
	border: none;
	outline: none;
	font-weight: 900;
}
 html body .projects .btn-primary:hover {
	box-shadow: 0 0 6px var(--black);
	color: var(--light);
}
 html body .projects .btn-primary:active, html body .projects .btn-primary:focus {
	border: none;
	outline: none;
	box-shadow: none;
}
 html body .skills-container {
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 40px;
	margin-bottom: 100px;
	text-align: center;
}
 html body .skills-container h1 {
	color: transparent;
	background: linear-gradient(to right, var(--deep), var(--light));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	overflow: hidden;
}
 html body .skills-container .skills {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
 html body .skills-container .skills .icon {
	margin: 15px;
}
 html body .skills-container .skills .icon i {
	padding: 20px;
	font-size: 50px;
	color: transparent;
	background: linear-gradient(to right, var(--deep), var(--light));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	border: 2px solid transparent;
	border-radius: 15px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}
 html body .skills-container .skills .icon i:hover {
	transform: scale(1.5) rotate(10deg);
}
 html body #about {
	align-items: center;
	overflow: hidden;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 60vh;
	border-radius: 5px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
	padding: 10px;
	padding-top: 100px;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
 html body #about #back {
	font-size: 25vw;
	text-transform: lowercase;
	position: absolute;
	top: 82.5%;
	right: 0%;
	opacity: 0.2;
	cursor: default;
}
 html body #about .text {
	width: 100%;
	overflow: hidden;
	z-index: 4;
}
 html body #about .text h1 {
	margin: 30px;
	overflow: hidden;
	font-size: 3rem;
	padding-top: 20px;
	color: transparent;
	background: linear-gradient(to right, var(--light), var(--peach));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
}
 html body #about .text p {
	font-style: italic;
	line-height: 40px;
	font-size: larger;
	margin-top: 60px;
	color: transparent;
	background: linear-gradient(to right, var(--grey), var(--light), var(--yellow));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	padding: 30px;
	border-radius: 16px;
}
 html body .feedbk {
	width: 100%;
	height: auto;
	background-attachment: fixed;
	padding-top: 100px;
}
 html body .feedbk h1 {
	color: transparent;
	color: transparent;
	background: linear-gradient(to right, var(--mid), var(--seashell));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	margin: 40px;
	overflow: hidden;
	font-size: 3rem;
}
 html body .feedbk p {
	margin-left: 2vw;
	color: var(--peach);
	font-size: large;
}
 html body .feedbk form {
	height: auto;
}
 html body .feedbk input {
	border: none;
	outline: none;
	font-size: larger;
	margin: 2vw;
	width: 100%;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	background: transparent;
	border: 2px solid var(--mid);
	color: var(--light);
}
 html body .feedbk .wrap-input {
	display: flex;
	flex-direction: column;
	width: 100vw;
	overflow: hidden;
}
html body .feedbk .wrap-input textarea {
	border: none;
	outline: none;
	font-size: larger;
	margin: 2vw;
	width: 65.95555555555555555555555555555555vw;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	margin-bottom: 0;
	background: transparent;
	border: 2px solid var(--mid);
	color: var(--light);
}
html body .feedbk .wrap-input textarea::placeholder{
	color: var(--light);
}
html body .feedbk .wrap-input textarea::ms-input-placeholder{
	color: var(--light);
}
html body .feedbk .wrap-input .wrapper{
	display: flex;
	flex-direction: row;
	width: 70vw;
	overflow: hidden;
}
 html body .feedbk input::placeholder {
	color: var(--mid);
}
 html body .feedbk textarea::placeholder {
	color: var(--light);
}
html body .feedbk button{
	font-weight: bolder;
}
 html body .feedbk .btn {
	margin-left: 2vw;
	padding: 20px;

	color: var(--black);
	background: var(--mid);
	border-color: var(--mid);
	outline-color: var(--light);
}

@media (max-width:1500px){
    html body #header .content{
        left:30%;
    }
    html body .desktop{
    	visibility: hidden;
    }
    html body .navbar-m{
    	visibility: visible;
    }
    html body .sidenav-m{
    	visibility: visible;
    }
}
@media (max-width:1130px){
    html body #header .circle-container {
        display: none;
   }
    html body #header .circle-container .circle {
        display: none;
   }
   html body #header .content{
    position: absolute;
    top:50%;
    left:50%;
    
   }
   html body #header .content h1 .glow{
        width:10px;
        font-size: 15vw;
    }
    html body #header .content h3 {
        text-align: center;
        font-size: 3vw;
        width:80vw;
    }
    html body #about {
        clip-path: none;
        width: 100%;
        padding-bottom: 25%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin: 0px;
    }
    html body #about img {
        margin: 20px;
        border-radius: 10px;
        width: 50%;
    }
    html body .projects .card {
        width: 50%;
        margin: 40px;
        transform: rotateZ(0deg);
    }
    html body .feedbk {
        clip-path: none;
        padding-top: 5%;
    }
    html body .skills {
        margin: 0;
    }
}