@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
$dark:#272727;
$glow:#312d2c;
$light:#f0e7b8;

*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    transition: .5s;
    font-weight: 400;
}
*::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background:$light;
}
*::selection{
    background: transparent;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y:scroll;
    scrollbar-color: $light transparent;
    scrollbar-width:thin;
    scroll-margin-block-start: 10px;
    scroll-margin-block-end: 10px;
    body{
            width: 90vw;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            .navbar{
                background: #1718199e;
                backdrop-filter: blur(10px);
                box-shadow: 0 0 10px $glow;
                border-radius: 10px;
                width: 90%;
                margin:0 auto;
                margin-top:20px
            }
            .navbar-toggler{
                outline: none;
                box-shadow: none;
                background: $light;
            }
            .navbar-toggler:focus,
            .navbar-toggler:active,
            .navbar-toggler-icon:focus {
                outline: none;
                box-shadow: none;
            }
            .nav-object{
                margin-left: 2.5vw;
                margin-right: 2.5vw;
            }
            .item{
                color: transparent;
                background: linear-gradient(to right,$light,transparent);
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -oz-background-clip: text;
                text-decoration: none;
                padding-bottom: 20px;
                &:hover{
                    color: $light;
                    transform: scale(1.5);
                }
            }
            .dropdown{
                margin-right: 10vw;
            }
            .dropdown-menu{
                margin-top: 20px;
                background: $light;
                box-shadow: 0 0 10px $dark; 
                transition: 1s;
            }
            .dropdown-divider{
                border-width: 2px;
                border-color: $dark;
            }
            .dropdown-item{
                text-shadow: 0 0 1px $dark;
                color: $dark;
                font-weight: 100;
            }
            .dropdown-item:hover{
                background: $dark;
                color: $light;
                text-shadow: 0 0 1px $light
            }
        //Preloaderz
        background:$dark;
        #preloader{
            color: $dark;
            .loader-wrapper{
                width: 100%;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                background-color: #171819;
                display:flex;
                justify-content: center;
                align-items: center;
                z-index: 10000;
                animation-duration: 5s;
                animation-timing-function: linear;
                opacity: 1;
                visibility: hidden;
                img{
                    width: 270px;
                    height: 270px;
                }
              }
              @keyframes fade{
                  0%{
                      opacity: 1;
                      top:0%;
                      visibility: visible;
                  }
                  25%{
                    opacity: 1;
                    top:0%;
                    visibility: visible;
                  }
                  50%{
                      opacity: 1;
                      top:0%;
                      visibility: visible;
                  }
                  75%{
                    opacity: 1;
                    top:0%;
                    visibility: visible;
                  }
                  90%{
                    opacity: 1;
                    top:0%;
                    visibility: visible;
                  }
                  100%{
                      opacity: 1;
                      top:-100%;
                      visibility: hidden;
                  }
              }
        }
        //Main-elements        
        Header{
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            background:$dark;
            transition: 2s;
            //Header elements
            .toggle-bgm{
                background-color: $light;
                position: absolute;
                top: 50%;
                left: 70%;
                transform:translate(-50%,-50%);
            }
            h1{
                color: $light;
                font-size: 1rem;
                overflow:hidden;
                text-align: left;
                position: absolute;
                top: 50%;
                left: 35%;
                transform:translate(-50%,-50%);
                .glow{
                    font-size: 7.6rem;
                    font-weight: 100;
                    text-transform: lowercase;
                    color: transparent;
                    background: linear-gradient(to right,$light,$glow);
                    background-clip:text;
                    -webkit-background-clip:text;
                    -moz-background-clip:text;
                    -oz-background-clip:text;
                    text-shadow: 0 0 5px $light;
                }
            }
            h3{
                font-size: .7rem;
                width:410px;
                text-align: center;
                overflow:hidden;
                position: absolute;
                top: 80%;
                left: 35%;
                transform:translate(-50%,-50%);
                line-height: 30px;
                background: $dark;
                padding: 10px;
                border-radius: 10px;
                color: $light;
                code{
                    color: $dark;
                    background: $light;
                    padding: 10px 10px 10px 10px;
                    white-space: nowrap;
                    font-weight: 900;
                    padding: 5px;
                    border-radius: 10px;
                    font-family: 'Fira Code', monospace;
                }
            }
        }
        .projects{
            text-align: center;
            overflow:hidden;
            background: $dark;
            //Projects
            .cards{
                width: 100%;
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                overflow:hidden;
            }
            h1{
                padding-bottom: 40px;
                padding-top: 50px;
                color: $light;
                overflow: hidden;
                font-weight: 300;
                overflow:hidden;
            }
            .card .dot{
                padding: 5px;
                margin: 10px;
                background: $dark;
                border-radius: 50%;
                box-shadow: -1.5px 1.5px 1px rgba(0,0,0,0.4);
            }
            .card{
                width: 300px;
                height:325px;
                align-items: center;
                text-align: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                margin: 40px;
                border: none;
                outline: none;
                transition: 1s;
                background:
                linear-gradient(217deg, $light, rgba(255,0,0,0) 70.70%),
                linear-gradient(127deg, $dark, rgba(0,255,0,0) 70.70%),
                linear-gradient(336deg, $dark, rgba(0,0,255,0) 70.70%),
                linear-gradient(217deg, black, rgba(255,0,0,0) 70.70%),
                linear-gradient(127deg, $light, rgba(0,255,0,0) 70.70%),
                linear-gradient(336deg, $light, rgba(0,0,255,0) 70.70%);
            }
            .card-title{
                font-weight: 900;
                color: $dark;
                padding: 10px;
                border-radius: 15px;
            }
            .card-text{
                color: $dark;
                overflow:hidden;
            }
            .btn-primary{
                color:$light;
                background-color: $dark;
                border: none;
                outline: none;
            }
            .btn-primary:hover{
                box-shadow: 0 0 6px $dark;
            }
            .btn-primary:active,
            .btn-primary:focus{
                border: none;
                outline: none;
                box-shadow: none;
            }
        }
        .skills-container{
            margin-top:100px;
            padding-top: 20px;
            padding-bottom: 40px;
            margin-bottom:100px;
            text-align: center;
            //Skills elements
            h1{
                color: $light;
                overflow:hidden;
                font-weight: lighter;
            }
            .skills{
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                margin-left: 10px;
                margin-right: 10px;
            }
            .skills .icon{
                margin: 15px;
                &:hover i{
                    filter: grayscale(100%);
                }
            }
            .skills .icon i{
                padding: 20px;
                font-size:50px;
                color: transparent;
                background: linear-gradient(to bottom right,$glow ,$light );
                background-clip:text;
                -webkit-background-clip:text;
                border: 2px solid transparent;
                border-radius: 15px;
                transition: .5s;
                -moz-transition: .5s;
                -webkit-transition: .5s;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
        #about{
            align-items: center;
            overflow:hidden;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            border-radius: 5px;
            margin-top: 40px;
            box-shadow: 0px 0px 25px rgba(0,0,0,0.4);
            padding: 10px;
            //About elements
            .text{
                width: 100%;
                overflow: hidden;
                h1{
                    margin: 30px;
                    overflow:hidden;
                    font-size: 3rem;
                    padding-top: 20px;
                    font-weight: 300;
                    color: $light
                }
                p{
                    line-height: 40px;
                    margin-top: 60px;
                    color: $light;
                    padding: 30px;
                    border-radius: 16px;
                }
            }
            
        }
        .feedbk{
            width: 100%;
            height: auto;
            background-attachment: fixed;
            padding-top: 20%;
            //Feedback elements
            h1{
                color: transparent;
                color: $light;
                font-weight: 300;
                margin: 40px;
                overflow:hidden;
                font-size: 3rem;
            }
            p{
                margin-left: 2vw;
                color: $light;
            }
            form{
                height: auto;
            }
            input{
                font-family: 'Fira Code';
                border: none;
                outline: none;
                margin-left: 2vw;
                width: 42.5%;
                padding: 5px 10px 5px 10px;
                border-radius: 10px;
                background: transparent;
                border:2px solid $light;
                color: $light;
            }
            .wrap-input{
                display: flex;
                flex-direction: row;
                overflow: hidden;
            }
            textarea{
                font-family: 'Fira Code';
                margin-left: 2vw;
                min-width: 90vw;
                height: 200px;
                border: none;
                outline: none;
                padding: 5px 10px 5px 10px;
                border-radius: 10px;
                background: transparent;
                border:2px solid $light;
                color: $light;
                max-height: 400px;
            }
            input::placeholder{
                color: $light;
            }
            textarea::placeholder{
                color: $light;
            }
            .btn{
                margin-left: 2vw;
                color: $dark;
                background: $light;
                border-color: $light;
                outline-color: $light
            }
        }
        .footer{
            height: auto;
            align-items: center;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            border-top: 2px solid $light;
            background: $dark;
            padding-top: 5vh;
            padding-bottom:5vh;
            //Footer elements
            hr{
                background: linear-gradient(to right,transparent,$light,transparent);
                width: 90%;
                height: 2px;
            }
            p{
                color: $light;
                font-size: 12px;
                font-stretch: extra-expanded;
                height: 100%;
            }
            p svg{
                fill: $light;
                padding: 1px;
            }
            p a{
                color: $light;
                text-decoration: none;
                transition: .2s;
                padding-bottom: 2px;
                border-bottom: 1.5px solid $light;
            }
            p a:hover{
                color: $light;
                padding-left: 5px;
                padding-right: 5px;
            }
            .wrap .git-ele{
                color: $light;
                font-family: 'Fira Code';
                text-decoration: none;
                border-bottom:2px solid $light;
                padding: 0px 10px 0px 10px;
            }
            .wrap .git-ele:hover{
                padding: 0px 15px 0px 15px;
            }

        }
        @media(max-width:992px){
            .nav-object{
                margin-left: 2.5vw;
                margin-right: 2.5vw;
                margin: 2.5vw;
            }
            Header{
                img{
                    display: none;
                }
                h1{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 1rem;
                    .glow{
                        font-size:5rem
                    }
                }
                h3{
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    text-align: center;
                    transform: translate(-50%,-50%);
                    font-size: .8rem;
                }
                
            }
            #about{
                clip-path:none;
                width: 100%;padding-bottom: 25%;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                margin:0px;
                img{
                    margin: 20px;
                    border-radius: 10px;
                    width: 50%;
                }
            }
            .projects .card{
                width: 50%;
                margin: 40px;
                transform: rotateZ(0deg);
            }
            .feedbk{
                clip-path: none;
                padding-top: 5%;
            }
            .skills{
                margin: 0;
            }
        }
        @media(max-width:600px){
            Header {
                    h1{
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    font-size: 0.8rem;
                    transform: translate(-50%,-50%);
                    white-space: nowrap;
                    .glow{
                        font-size:3.5rem
                    }
                }
                h3{
                    font-size: 0.6rem;
                    width: 300px;
                    top:75%
                }
            }
            #about{
                h1{
                    white-space: nowrap;
                }
                img{
                    margin: 20px;
                    border-radius: 10px;
                    width: 80%;
                }
            }
            .projects .card{
                width: 80%;
                margin: 5px;
            }
        }
        @media(max-width:300px){
            Header{
                h1{
                    font-size: 0.8rem;
                    .glow{
                        font-size:2.8rem
                    }
                }
                h3{
                    font-size: .4rem;
                    width: 200px;
                }
            }
            #about h1{
                font-size: 2.5rem;
            }
            .projects h1{
                font-size: 2rem;
            }
            .feedbk{
                h1{
                    font-size: 2.5rem;
                }
                .wrap-input{
                    flex-direction: column;
                }
            }
        }
    }
}
