@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background: #65463E;
}
.navbar{
    transition: .5s;
}
.navbar-brand{
    font-weight: bold;
    background: #212529;
    padding: 20px;
    border-radius: 15px;
    visibility: hidden;
}

.navbar-toggler
{
    border:none;
    outline: none;
}
.navbar-toggler:focus{
    border:none;
    outline:none
}
.navbar-toggler:active{
    border:none;
    outline:none
}
.navbar-toggler-icon:focus{
    border:none;
    outline: none;
}
.nav-item{
    padding: 0px 20px 0px 20px;
    color: black;
    transition: .5s;
}
.nav-item:hover{
    box-shadow: 0 0 5px #DCBAA9;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background:#DCBAA9;
}
*::selection{
    background: #2f363d;
    color: transparent;
}
Header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to bottom right,  #65463E, #65463E);
    background-size: cover;
}
Header h1{
    color: #D2E5D0;
    font-size: 5rem;
    overflow:hidden;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
}
Header h1 .glow{
    color: #AAD6A0;
}
Header h3{
    font-size: 2rem;
    position: absolute;
    overflow:hidden;
    top: 65%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: #D2E5D0;
}
Header #know-more{
    position: absolute;
    top: 80%;
    left: 18%;
    transform: translate(-50%,-50%);
    color: #65463E;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    background: #DCBAA9;
    border: 2px solid #DCBAA9;
    border-radius: 10px;
    transition: .5s;
}
Header #know-more:hover{
    position: absolute;
    top: 79%;
    left: 18%;
    transform: translate(-50%,-50%);
    border: 2px solid #D2E5D0;
    background: transparent;
    color: #D2E5D0;
}
Header #github{
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: #65463E;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    background: #D2E5D0;
    border: 2px solid #D2E5D0;
    border-radius: 10px;
    transition: .5s;
}
Header #github:hover{
    position: absolute;
    top: 79%;
    left: 35%;
    transform: translate(-50%,-50%);
    border: 2px solid #D2E5D0;
    background: transparent;
    color: #D2E5D0;
}
Header .terminal{
    background: url(../images/terminal.png) center center;
    width: 620px;
    height: 400px;
    background-size: 620px 400px;
    background-repeat: no-repeat;
    position: absolute;
    top: 68%;
    right: 2%;
    z-index: 50;
    border-radius: 15px;
}
.innertext{
    margin-left: 30px;
    margin-top: 80px;
    color: #D2E5D0;
}
.innertext p a{
    color: #DCBAA9;
}
.innertext span{
    display: flex;
}
#about{
    align-items: center;
    overflow:hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;padding-bottom: 25%;
    background: #DCBAA9;
    clip-path: polygon(100% 0, 100% 75%, 0 100%, 0 25%);
    padding-top: 20%;
}
#about .text{
  width: 95%;
  overflow: hidden;
}
#about h1{
  margin: 30px;
  overflow:hidden;
  font-size: 3rem;
  padding-top: 20px;
  font-weight: 300;
  color: #65463E
}
#about img{
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px  #DCBAA9;
}
#about p{
  line-height: 40px;
  margin-top: 60px;
    color: #65463E;
    background: #D2E5D0;
    padding: 30px;
    border-radius: 16px;
}
.projects{
    text-align: center;
    overflow:hidden;
}
.cards{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
}
.projects h1{
    padding-bottom: 40px;
    padding-top: 50px;
    color: #D2E5D0;
    overflow: hidden;
    font-weight: 300;
    overflow:hidden;
}
.projects .card{
    width: 20%;
    margin: 40px;
    background:linear-gradient(to bottom right,#AAD6A0,#D2E5D0);
    border-radius: 15px;
    transition: 1s;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px  #DCBAA9;
}
.card-title,.card-text{
    color: #65463E;
    overflow:hidden;
}
.btn-primary{
    background-color: #65463E;
    outline: #65463E;
    border: #65463E;
}
.btn-primary:hover{
    background-color: #65463E;
    box-shadow: 0 0 6px #65463E;
}
.skills-container{
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.skills-container h1{
    color: #D2E5D0;
    overflow:hidden;
}
.skills{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 250px;
}
.skills .icon{
    margin: 15px;
}
.skills .icon svg{
    padding: 20px;
    fill: #65463E;
    background: #DCBAA9;
    border: 2px solid #DCBAA9;
    border-radius: 15px;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
.skills .icon:hover svg{
    fill: #DCBAA9;
    background: #65463E;
    border: 2px solid #DCBAA9;
}
.feedbk{
    width: 100%;
    height: auto;
    background: #DCBAA9;
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);
    padding-top: 20%;
}
.feedbk h1{
    color: transparent;
    color: #65463E;
    font-weight: 300;
    margin: 40px;
    overflow:hidden;
    font-size: 3rem;
}
.feedbk p{
    margin-left: 2vw;
    color: #65463E;
}
.feedbk form{
    height: auto;
}
.feedbk input{
    border: none;
    outline: none;
    margin-left: 2vw;
    width: 42.5%;
    padding: 18px 12px 18px 12px;
    border-radius: 10px;
    background: transparent;
    border:2px solid #65463E;
    color: #65463E;
}
.wrap-input{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.feedbk textarea{
    margin-left: 2vw;
    min-width: 90vw;
    height: 200px;
    border: none;
    outline: none;
    padding: 18px 12px 18px 12px;
    border-radius: 10px;
    background: transparent;
    border:2px solid #65463E;
    color: #65463E;
    max-height: 400px;
}
.feedbk input::placeholder{
    color: #65463E;
}
.feedbk textarea::placeholder{
    color: #65463E;
}
.feedbk .btn{
    margin-left: 2vw;
    color: #D2E5D0;
    background: #65463E;
    border-color: #65463E;
    outline-color: #65463E;
}
.footer{
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #D2E5D0;
    padding-top: 5vh;
}
.footer .fa-chevron-up{
    font-size: 30px;
    font-stretch: extra-expanded;
    color: #D2E5D0;
    padding: 15px;
    border-radius: 10px;
    transition: .5s;
    overflow: hidden;
}
.wrap{
    display:flex;
}
.wrap a i{
    font-size: 30px;
    margin: 20px;
    transition: .5s;
    background: #AAD6A0;
    color: #65463E;
    border: solid+5px#65463E;
    padding: 15px;
    border-radius: 50%;
    outline: solid+5px#AAD6A0;
    box-shadow: 0 0 20px #DCBAA9;
}
.wrap a i:hover{
    color: #AAD6A0;
    text-shadow: 0 0 15px #AAD6A0;
    background: #65463E;
    border: 5px solid #AAD6A0;
    outline: solid+5px#65463E;
    box-shadow: 0 0 20px #AAD6A0;
}
.footer hr{
    background: #DCBAA9;
    width: 280px;
    height: 1.5px;
}
.footer p{
    color: #D2E5D0;
    font-size: 12px;
    font-stretch: extra-expanded;
}
.footer p svg{
    fill: #DCBAA9;
    
}
.footer p a{
    color: #D2E5D0;
    text-decoration: none;
    transition: .2s;
    border-bottom: solid+2px#65463E;
}
.footer p a:hover{
    border-bottom: solid+2px#AAD6A0;
}
@keyframes bounce{
    0%{
        position: absolute;
        right: 0;
        bottom: 10%;
        color: #D2E5D0;
        z-index: 100;
        transform: rotate(90deg);
    }
    50%{
        position: absolute;
        right: 0;
        bottom: 12%;
        color: #D2E5D0;
        text-shadow: 0 0 10px #D2E5D0;
        z-index: 100;
        transform: rotate(90deg);
    }
    100%{
        position: absolute;
        right: 0;
        bottom: 10%;
        color: #D2E5D0;
        z-index: 100;
        transform: rotate(90deg);
    }
}
@media(max-width:992px){
    #about{
        clip-path:none;
        width: 100%;padding-bottom: 25%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin:0px
    }
    .terminal{
        display: none;
    }
    .feedbk{
        clip-path: none;
        padding-top: 5%;
    }
    Header h1{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size:11vw;
        white-space: nowrap;
    }
    Header h3{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.5rem;
        white-space: nowrap;
    }
    Header #know-more{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header #know-more:hover{
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header #github{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header #github:hover{
        position: absolute;
        top: 84%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .projects .card{
        width: 50%;
        margin: 40px;
    }
    #about img{
        margin: 20px;
        border-radius: 10px;
        width: 50%;
      }
      .skills{
        margin: 0;
    }
}
@media(max-width:600px){
    #about h1{
        white-space: nowrap;
    }
    .projects .card{
        width: 80%;
        margin: 5px;
    }
    #about img{
        margin: 20px;
        border-radius: 10px;
        width: 80%;
      }
      @keyframes bounce{
        0%{
            position: absolute;
            right: -6%;
            bottom: 10%;
            color: #D2E5D0;
            z-index: 100;
            transform: rotate(90deg);
        }
        50%{
            position: absolute;
            right: -6%;
            bottom: 12%;
            color: #D2E5D0;
            text-shadow: 0 0 10px #D2E5D0;
            z-index: 100;
            transform: rotate(90deg);
        }
        100%{
            position: absolute;
            right: -6%;
            bottom: 10%;
            color: #D2E5D0;
            z-index: 100;
            transform: rotate(90deg);
        }
    }
}
@media(max-width:300px){
    Header h1{
        font-size: 2.5rem;
    }
    Header #know-more{
        white-space: nowrap;
    }
    #about h1{
        font-size: 2.5rem;
    }
    .projects h1{
        font-size: 2rem;
    }
    .feedbk h1{
        font-size: 2.5rem;
    }
    .feedbk .wrap-input{
        flex-direction: column;
    }
    @keyframes bounce{
        0%{
            position: absolute;
            right: -10%;
            bottom: 10%;
            color: #D2E5D0;
            z-index: 100;
            transform: rotate(90deg);
        }
        50%{
            position: absolute;
            right: -10%;
            bottom: 12%;
            color: #D2E5D0;
            text-shadow: 0 0 10px #D2E5D0;
            z-index: 100;
            transform: rotate(90deg);
        }
        100%{
            position: absolute;
            right: -10%;
            bottom: 10%;
            color: #D2E5D0;
            z-index: 100;
            transform: rotate(90deg);
        }
    }
}
