@import url('https://fonts.googleapis.com/css2?family=Comfortaa:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(//db.onlinewebfonts.com/c/25c294f3631fb5a0c1ef659a85cabdcf?family=Sifonn);
$violet:#8600ff;
$green:#79ff00;
$greei5e:#79ff009e;

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Comfortaa;
    transition: .5s;
}
*::-webkit-scrollbar{
    width: 5px;

}
*::-webkit-scrollbar-thumb{
    background:$green;
}
*::selection{
    background: $green;
    color: transparent;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    body{
        //Preloader
        background: $violet;
        #preloader{
            color: white;
            .loader-wrapper{
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #000000;
                display:flex;
                justify-content: center;
                align-items: center;
                z-index: 10000;
                animation-duration: 5s;
                animation-timing-function: linear;
                opacity: 0;
                visibility: hidden;
                img{
                    width: 270px;
                    height: 270px;
                }
              }
              @keyframes loader {
                0% { transform: rotate(0deg);}
                25% { transform: rotate(180deg);}
                50% { transform: rotate(180deg);}
                75% { transform: rotate(360deg);}
                100% { transform: rotate(360deg);}
              }
              @keyframes fade{
                  0%{
                      opacity: 1;
                      visibility: visible;
                  }
                  25%{
                    opacity: 1;
                    visibility: visible;
                  }
                  50%{
                      opacity: 1;
                      visibility: visible;
                  }
                  75%{
                    opacity: 1;
                    visibility: visible;
                  }
                  90%{
                    opacity: 1;
                    visibility: visible;
                  }
                  100%{
                      opacity: 0;
                      visibility: hidden;
                  }
              }
        }
        //Main-elements        
        .toggle-btn{
            position: fixed;
            right: 0;
            margin:22px;
            padding:10px;
            width: 45px;
            height:45px;
            z-index: 2000;
            cursor: pointer;
            align-items: center;
            text-align: center;
            justify-content: center;
            display: flex;
            border:none;
            outline:none;
            border-radius: 10px;
            fill: #000000;
            display: block;
            background: #fff;
            transition: .5s;
        }
        .toggle-btn:active,.toggle-btn:focus{
            border:none;
            outline: none;
        }
        .sidenav {
            height: 100%;
            width: 100%;
            position: fixed;
            z-index:7000;
            background: $green;
            top: 0%;
            left: 100%;
            overflow: hidden;
            transition: 1s;
            padding-top: 60px;
        }
        .links{
            align-items: center;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            position: absolute;
            border-radius: 15px;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .sidenav a {
            padding: 10px;
            text-transform: lowercase;
            text-decoration: none;
            color: $violet;
            display: block;
            transition: .2s;
        }
        
        .sidenav a:hover {
            color: $violet;
        }
        .sidenav p{
            position: absolute;
            bottom:0%;
            margin-right: 25px;
            color: $violet;
            font-size: .8rem;
            padding: 10px;
            border-radius: 10px;
            right: 0%;
        }
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            left: 0px;
            margin: 20px;
            border-radius: 10px;
            fill:$green;
            background: $violet;
            text-shadow: 0 0 5px $violet;
        }
        .sidenav .closebtn:hover{
            color: $violet;
            cursor: pointer;
        }
        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }
        .item{
            margin:30px;
            width: 200px;
            padding-left: 50px;
            transition: .3s;
            font-weight: 500;
            text-transform: uppercase;
            background:transparent;
            letter-spacing: 5px;
            border-radius: 300px;
        }
        .item:hover{
            letter-spacing: 7px;
        }
        .parallax-window{
            min-height: 100vh;
        }
        Header{
            width: 100%;
            height: 100vh;
            //Header elements
            $n: 70;
            .container{
                position: absolute;
                top: 50%;
                left: 75%;
                transform: translate(-50%,-50%);
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 500px;
                height: auto;
                overflow: hidden;
                padding: 5px;
            }
            $n: 70;
            .box {
                    opacity: 1;
                    animation-name: fade-in;
                    animation-duration: 5s;
                    animation-delay: 7000ms;
                    animation-iteration-count: infinite;
                    width: 30px;
                    height: 30px;
                    background: $green;
                    margin: 2px;
                    transition: 1s;
                    @for $x from 0 to $n*35 {
                        &:nth-child(#{$x}) {
                            animation-delay: 50ms * ($x - 0);
                        }
                    }
            }
            @keyframes fade-in {
                to {
                  opacity: 0;
                  transform: rotate(-360deg);
                }
              }
            h1{
                color: $green;
                font-size: 1rem;
                overflow:hidden;
                text-align: left;
                position: absolute;
                top: 42%;
                left: 25%;
                transform: translate(-50%,-50%);
                .glow{
                    font-size: 5rem;
                    font-weight: 100;
                    text-transform: lowercase;
                    color: $green;
                }
            }
            h3{
                font-size: .7rem;
                position: absolute;
                width:350px;
                text-align: left;
                overflow:hidden;
                top: 64%;
                left: 25%;
                transform: translate(-50%,-50%);
                line-height: 30px;
                color: $green;
                code{
                    color: white;
                    font-weight: 900;
                    padding: 5px;
                    border-radius: 10px;
                }
            }

            #know-more{
                position: absolute;
                top: 85%;
                left: 18%;
                transform: translate(-50%,-50%);
                color: $violet;
                text-decoration: none;
                padding: 8px 28px 8px 28px;
                background: $green;
                font-weight: bolder;
                border: 2px solid transparent;
                border-radius: 5px;
                transition: .5s;
                font-size: .8rem;
            }
            #know-more:hover{
                top:84.5%;
                background: transparent;
                border: 2px solid $green;
                color: $green;
            }
            #projects-btn{
                position: absolute;
                top: 85%;
                left: 32%;
                transform: translate(-50%,-50%);
                color: $violet;
                text-decoration: none;
                padding: 8px 28px 8px 28px;
                background: $green;
                font-weight: bolder;
                border: 2px solid transparent;
                border-radius: 5px;
                transition: .5s;
                font-size: .8rem;
            }
            #projects-btn:hover{
                top:84.5%;
                background: transparent;
                border: 2px solid $green;
                color: $green;
            }
        }
        .projects{
            text-align: center;
            overflow:hidden;
            background: $violet;
            //Projects
            .cards{
                width: 100%;
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                overflow:hidden;
            }
            h1{
                padding-bottom: 40px;
                padding-top: 50px;
                color: $green;
                overflow: hidden;
                font-weight: 300;
                overflow:hidden;
            }
            .card{
                width: 300px;
                height:300px;
                align-items: center;
                text-align: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                margin: 40px;
                border: none;
                outline: none;
                transition: .5s;
                background:  $green;
                box-shadow: 8px 8px 10px #0000000e;
                filter: brightness(0.4);
            }
            .card:hover{   
                box-shadow: 16px 16px 10px #0000009e;
                filter: brightness(1);
            }
            .card-title{
                font-weight: 900;
                color: $violet;
                padding: 10px;
                border-radius: 15px;
            }
            .card-text{
                color: $violet;
                overflow:hidden;
            }
            .btn-primary{
                color:$violet;
                background-color: transparent;
                outline:$violet;
                border:2px solid$violet;
            }
            .btn-primary:hover{
                box-shadow: 0 0 6px $violet;
            }
        }
        .skills-container{
            padding-top: 20px;
            padding-bottom: 40px;
            text-align: center;
            //Skills elements
            h1{
                color: $green;
                overflow:hidden;
                font-weight: lighter;
            }
            .skills{
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                margin-left: 10px;
                margin-right: 10px;
            }
            .skills .icon{
                margin: 15px;
            }
            .skills .icon i{
                padding: 20px;
                font-size:50px;
                color: $green;
                background: transparent;
                border: 2px solid transparent;
                border-radius: 15px;
                transition: .5s;
                -moz-transition: .5s;
                -webkit-transition: .5s;
            }
            .skills .icon:hover i{
                border: 2px solid $green;
            }
        }
        #about{
            align-items: center;
            overflow:hidden;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 100%;padding-bottom: 25%;
            background: $green;
            clip-path: polygon(100% 0, 100% 75%, 0 100%, 0 25%);
            padding-top: 20%;
            //About elements
            .text{
                width: 95%;
                overflow: hidden;
            }
            h1{
                margin: 30px;
                overflow:hidden;
                font-size: 3rem;
                padding-top: 20px;
                font-weight: 300;
                color: $violet
            }
            img{
                margin: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px  $violet;
                filter: grayscale(100%);
            }
            p{
                line-height: 40px;
                margin-top: 60px;
                color: $violet;
                padding: 30px;
                border-radius: 16px;
            }
        }
        .feedbk{
            width: 100%;
            height: auto;
            box-shadow: 0 0 10px $green;
            background: $green;
            background-attachment: fixed;
            clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);
            padding-top: 20%;
            //Feedback elements
            h1{
                color: transparent;
                color: $violet;
                font-weight: 300;
                margin: 40px;
                overflow:hidden;
                font-size: 3rem;
            }
            p{
                margin-left: 2vw;
                color: $violet;
            }
            form{
                height: auto;
            }
            input{
                border: none;
                outline: none;
                margin-left: 2vw;
                width: 42.5%;
                padding: 18px 12px 18px 12px;
                border-radius: 10px;
                background: transparent;
                border:2px solid $violet;
                color: $violet;
            }
            .wrap-input{
                display: flex;
                flex-direction: row;
                overflow: hidden;
            }
            textarea{
                margin-left: 2vw;
                min-width: 90vw;
                height: 200px;
                border: none;
                outline: none;
                padding: 18px 12px 18px 12px;
                border-radius: 10px;
                background: transparent;
                border:2px solid $violet;
                color: $violet;
                max-height: 400px;
            }
            input::placeholder{
                color: $violet;
            }
            textarea::placeholder{
                color: $violet;
            }
            .btn{
                margin-left: 2vw;
                color: $green;
                background: $violet;
                border-color: $violet;
                outline-color: $violet;
            }
        }
        .footer{
            height: auto;
            align-items: center;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 10px $violet;
            background: $violet;
            padding-top: 5vh;
            //Footer elements
            .fa-chevron-up{
                font-size: 30px;
                font-stretch: extra-expanded;
                color: $green;
                padding: 15px;
                border-radius: 10px;
                transition: .5s;
                overflow: hidden;
            }
            .wrap{
                display:flex;
            }
            .wrap a i{
                font-size: 30px;
                margin: 20px;
                transition: .5s;
                background: $green;
                color: $violet;
                border: 5px solid $violet;
                padding: 15px;
                border-radius: 50%;
                outline: 5px solid $green;
                box-shadow: 0 0 20px $violet;
            }
            .wrap a i:hover{
                color: $green;
                background: $violet;
                border: 5px solid $green;
                outline: 5px solid $violet;
                box-shadow: 0 0 20px $green;
            }
            .git-ele{
                color: $green;
                text-decoration: none;
                font-size: .8rem;
                border-bottom: 2px solid $green;
                padding: 2px 15px 2px 15px;
                transition: .5s;
            }
            hr{
                background: linear-gradient(to right,transparent,black,transparent);
                width: 90%;
                height: 2px;
            }
            p{
                color: $green;
                font-size: 12px;
                font-stretch: extra-expanded;
                height: 100%;
            }
            p svg{
                fill: $violet;
                background: $green;
                padding: 1px;
                border-radius: 20%;
            }
            p a{
                color: $green;
                text-decoration: none;
                transition: .2s;
            
            }
            p a:hover{
                color: $green;
            }
        }
        @media(max-width:992px){
            Header{
                .container{
                    display: none;
                }
                h1{
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                h3{
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    text-align: center;
                    transform: translate(-50%,-50%);
                    font-size: 1rem;
                }
                #know-more{
                    position: absolute;
                    top: 75%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                #know-more:hover{
                    position: absolute;
                    top: 74%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                #projects-btn{
                    position: absolute;
                    top: 85%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                #projects-btn:hover{
                    position: absolute;
                    top: 84%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                
            }
            #about{
                clip-path:none;
                width: 100%;padding-bottom: 25%;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                margin:0px;
                img{
                    margin: 20px;
                    border-radius: 10px;
                    width: 50%;
                }
            }
            .projects .card{
                width: 50%;
                margin: 40px;
                transform: rotateZ(0deg);
            }
            .feedbk{
                clip-path: none;
                padding-top: 5%;
            }
            .skills{
                margin: 0;
            }
        }
        @media(max-width:600px){
            Header {
                    h1{
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    font-size: 1rem;
                    transform: translate(-50%,-50%);
                    white-space: nowrap;
                    .glow{
                        font-size:4rem
                    }
                }
                h3{
                    font-size:0.8rem
                }
            }
            #about{
                h1{
                    white-space: nowrap;
                }
                img{
                    margin: 20px;
                    border-radius: 10px;
                    width: 80%;
                }
            }
            .projects .card{
                width: 80%;
                margin: 5px;
            }
        }
        @media(max-width:300px){
            Header{
                h1{
                    font-size: 0.8rem;
                    .glow{
                        font-size:2.8rem
                    }
                }
                #know-more{
                    white-space: nowrap;
                }
            }
            #about h1{
                font-size: 2.5rem;
            }
            .projects h1{
                font-size: 2rem;
            }
            .feedbk{
                h1{
                    font-size: 2.5rem;
                }
                .wrap-input{
                    flex-direction: column;
                }
            }
        }
    }
}

