@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 5px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.png);
    background-size: cover;
    background-position: right;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,#e7dfdd,#a239ca);
    transition: .5s;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom,#e7dfdd8e,#a239ca8e);
}
*::selection{
    background: #2f363d;
    color: transparent;
}
.toggle-btn{
    position: fixed;
    top:0;
    right: 0;
    margin:25px;
    padding:10px;
    width: 60px;
    height:60px;
    z-index: 2000;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border:none;
    outline:none;
    background: transparent;
    fill: #e7dfdd;
    border-radius: 5px;
    border: 2px solid #a239ca;
}
.toggle-btn:active,.toggle-btn:focus{
    outline: none;
}
.sidenav {
    height: 90vh;
    margin: 20px;
    width: 0;
    position: fixed;
    z-index: 4000;
    top: 0;
    right: 0;
    box-shadow:0 0 10px #a239ca;
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(15px);
}
  
.sidenav a {
    margin-top:20px;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: 0.3s ease-in-out;
    color: #a239ca;
}
  
.sidenav a:hover {
    text-decoration: none;
    color: #e7dfdd;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.item{
    border:2px solid #a239ca;
    width: 150px;
    transition: .5s;
    font-weight: 500;
    text-align: center;
    background:transparent;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}
.item:hover{
    background: #a239ca;
    color: #e7dfdd;
}
Header{
    background: radial-gradient(circle at top right, #4717f68e   -50%,#0e0b16 100%),url(../images/background.png);
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
Header h1{
    color: white;
    font-size: 5rem;
    overflow:hidden;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
}
Header h1 .glow{
    color: transparent;
    background: linear-gradient(to right, #a239ca,#e7dfdd);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -oz-background-clip: text;
}
Header h3{
    font-size: 2rem;
    position: absolute;
    overflow:hidden;
    top: 65%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: white;
}
Header #know-more{
    position: absolute;
    top: 80%;
    left: 18%;
    transform: translate(-50%,-50%);
    color: #e7dfdd;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    background: #a239ca;
    border: 2px solid #a239ca;
    border-radius: 10px;
    transition: .5s;
}
Header #know-more:hover{
    position: absolute;
    top: 79%;
    left: 18%;
    transform: translate(-50%,-50%);
    border: 2px solid #e7dfdd;
    background: transparent;
    color: #e7dfdd;
}
Header #github{
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: #a239ca;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    background: #e7dfdd;
    border: 2px solid #e7dfdd;
    color: #a239ca;
    border-radius: 10px;
    transition: .5s;
}
Header #github:hover{
    position: absolute;
    top: 79%;
    left: 35%;
    transform: translate(-50%,-50%);
    border: 2px solid #a239ca;
    background: transparent;
    color: #a239ca;
}
Header p{
    position: absolute;
    right: -3%;
    bottom: 10%;
    color: white;
    z-index: 100;
    transform: rotate(90deg);
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: vertical-text;
}
#about{
    align-items: center;
    overflow:hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: radial-gradient(circle at top left, #a239ca8e   50%,#0e0b16), url(../images/background.png);
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
}
#about .text{
  width: 95%;
  overflow: hidden;
}
#about h1{
  margin: 30px;
  overflow:hidden;
  font-size: 3rem;
  padding-top: 20px;
  font-weight: 300;
  color: transparent;
    background: linear-gradient(to right, #4717f6,#e7dfdd);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -oz-background-clip: text;
}
#about img{
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #4717f6;
}
#about p{
  line-height: 40px;
  margin-top: 60px;
    color: #a239ca;
    background: #e7dfdd;
    padding: 30px;
    border-radius: 16px;
}

.skills-container{
    padding-top: 20px;
    padding-bottom: 40px;
    background: radial-gradient(circle at top left, #a239ca8e   50%,#0e0b16), url(../images/background.png);
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    text-align: center;
}
.skills-container h1{
    color: transparent;
    overflow:hidden;
    background: linear-gradient(to right, #a239ca,#e7dfdd);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -oz-background-clip: text;
}
.skills{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 250px;
}
.skills .icon{
    margin: 15px;
}
.skills .icon svg{
    padding: 20px;
    fill: #e7dfdd;
    background: #a239ca;
    border: 2px solid #a239ca;
    border-radius: 15px;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
.skills .icon:hover svg{
    fill: #a239ca;
    background: #e7dfdd;
    border: 2px solid #e7dfdd;
}
.projects{
    background: radial-gradient(circle at top right, #a239ca8e  50%,#0e0b16), url(../images/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow:hidden;
}
.cards{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(circle at top right, #a239ca8e 50%,#0e0b16), url(../images/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow:hidden;
}
.projects h1{
    padding-bottom: 40px;
    padding-top: 50px;
    color: transparent;
    overflow: hidden;
    background: linear-gradient(to right, #a239ca,#e7dfdd);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -oz-background-clip: text;
    font-weight: 300;
    overflow:hidden;
}
.projects .card{
    width: 20%;
    margin: 40px;
    background:transparent;
    border-radius: 15px;
    transition: 1s;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px #4717f6;
}
.card-title,.card-text{
    color: #e7dfdd;
    overflow:hidden;
}

.feedbk{
    width: 100%;
    height: auto;
    background: radial-gradient(ellipse at top, #4717f6 -100%, #0e0b16 100%);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.feedbk h1{
    color: transparent;
    color: #e7dfdd;
    font-weight: 300;
    margin: 40px;
    overflow:hidden;
    font-size: 3rem;
}
.feedbk p{
    margin-left: 2vw;
    color: #e7dfdd;
}
.feedbk form{
    height: auto;
}
.feedbk input{
    border: none;
    outline: none;
    margin-left: 2vw;
    width: 42.5%;
    padding: 18px 12px 18px 12px;
    border-radius: 10px;
    background: transparent;
    border:2px solid #e7dfdd;
    color: #e7dfdd;
}
.wrap-input{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.feedbk textarea{
    margin-left: 2vw;
    min-width: 90vw;
    height: 200px;
    border: none;
    outline: none;
    padding: 18px 12px 18px 12px;
    border-radius: 10px;
    background: transparent;
    border:2px solid #e7dfdd;
    color: #e7dfdd;
    max-height: 400px;
}
.feedbk input::placeholder{
    color: #e7dfdd;
}
.feedbk textarea::placeholder{
    color: #e7dfdd;
}
.feedbk .btn{
    margin-left: 2vw;
    background: #e7dfdd;
    border-color: #e7dfdd;
    outline-color: #e7dfdd;
}
.footer{
    height: 430px;
    background: radial-gradient(ellipse at bottom, #4717f6 -60%, #0e0b16 100%);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #a239ca;
    padding-top: 5vh;
}
.footer .fa-chevron-up{
    font-size: 30px;
    font-stretch: extra-expanded;
    color: #e7dfdd;
    background: #0e0b16;
    padding: 15px;
    border-radius: 10px;
    transition: .5s;
    overflow: hidden;
}
.footer .fa-chevron-up:hover{
    color: #a239ca;
    background: #e7dfdd;
}
.wrap{
    display:flex;
}

.wrap a i{
    font-size: 30px;
    margin: 20px;
    transition: .5s;
    color: #a239ca;
}
.wrap a i:hover{
    color: #e7dfdd;
}
.footer hr{
    background: #a239ca;
    width: 280px;
    height: 1.5px;
}
.footer p{
    color: #a239ca;
    font-size: 12px;
    font-stretch: extra-expanded;
}
.footer p svg{
    fill: #a239ca;
    
}
.footer p a{
    color: #a239ca;
    text-decoration: none;
    transition: .2s;
}
.footer p a:hover{
    color: #e7dfdd;
    text-decoration: none;
}
@keyframes bounce{
    0%{
        position: absolute;
        right: 0;
        bottom: 10%;
        color: white;
        z-index: 100;
        transform: rotate(90deg);
    }
    50%{
        position: absolute;
        right: 0;
        bottom: 12%;
        color: #a239ca;
        text-shadow: 0 0 10px #a239ca;
        z-index: 100;
        transform: rotate(90deg);
    }
    100%{
        position: absolute;
        right: 0;
        bottom: 10%;
        color: white;
        z-index: 100;
        transform: rotate(90deg);
    }
}
@media(max-width:992px){
    Header h1{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size:11vw;
        white-space: nowrap;
    }
    Header h3{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.5rem;
        white-space: nowrap;
    }
    Header #know-more{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header #know-more:hover{
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header #github{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    Header #github:hover{
        position: absolute;
        top: 84%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .projects .card{
        width: 50%;
        margin: 40px;
    }
    #about img{
        margin: 20px;
        border-radius: 10px;
        width: 50%;
      }
      .skills{
        margin: 0;
    }
}
@media(max-width:600px){
    #about h1{
        white-space: nowrap;
    }
    .projects .card{
        width: 80%;
        margin: 5px;
    }
    #about img{
        margin: 20px;
        border-radius: 10px;
        width: 80%;
      }
      @keyframes bounce{
        0%{
            position: absolute;
            right: -6%;
            bottom: 10%;
            color: white;
            z-index: 100;
            transform: rotate(90deg);
        }
        50%{
            position: absolute;
            right: -6%;
            bottom: 12%;
            color: #a239ca;
            text-shadow: 0 0 10px #a239ca;
            z-index: 100;
            transform: rotate(90deg);
        }
        100%{
            position: absolute;
            right: -6%;
            bottom: 10%;
            color: white;
            z-index: 100;
            transform: rotate(90deg);
        }
    }
}
@media(max-width:300px){
    Header h1{
        font-size: 2.5rem;
    }
    Header #know-more{
        white-space: nowrap;
    }
    #about h1{
        font-size: 2.5rem;
    }
    .projects h1{
        font-size: 2rem;
    }
    .feedbk h1{
        font-size: 2.5rem;
    }
    .feedbk .wrap-input{
        flex-direction: column;
    }
    @keyframes bounce{
        0%{
            position: absolute;
            right: -10%;
            bottom: 10%;
            color: white;
            z-index: 100;
            transform: rotate(90deg);
        }
        50%{
            position: absolute;
            right: -10%;
            bottom: 12%;
            color: #a239ca;
            text-shadow: 0 0 10px #a239ca;
            z-index: 100;
            transform: rotate(90deg);
        }
        100%{
            position: absolute;
            right: -10%;
            bottom: 10%;
            color: white;
            z-index: 100;
            transform: rotate(90deg);
        }
    }
}
